/* Login */
#pLoginLayout {
    -fx-background-color:  #2d3447;
}

#txUsername, #txPassword {
    -fx-text-fill: white;
    -fx-prompt-text-fill: #bbbbbb;
}

#pMinimize:hover {
    -fx-background-color: #045cb5;
}

#pClose:hover {
    -fx-background-color: #045cb5;
}

/* Login Dialog */
#bnClose:hover {
    -fx-opacity: 0.7;
}

#pDialogLayout {
    -fx-background-radius: 4;
}

#topDialog {
    -fx-background-radius: 4 4 0 0;
    -fx-background-color:  #e95350;
    -fx-background-color:  #bdc3c7;
}