#headerLayout {
    -fx-background-color:  #2d3447;
}

#sideLayout {
    -fx-background-color:  #2d3447;
}

#pMinimize:hover {
    -fx-background-color: #045cb5;
}

#pClose:hover {
    -fx-background-color: #045cb5;
}